.gitconfig
__pycache__
*.pyc
.pytest_ache
.vscode
*.tar
*.txt
*.csv


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
build
build_cythonize
dist

*.spec
*.so

# Environments
.env
.venv
env/

*.code-workspace

# Local History for Visual Studio Code
.history/

# For GNU Stow
/.stow-local-ignore
